/* gandalf.css */

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

h1, h2 ,h1:hover{
font-family: 'Roboto', sans-serif;
}
/* normal */
section {
 display: flex;
}
.contenant img{
 opacity: 0.5;
}
h2 {
 color: black;
 position: absolute;
 top: 50px;
 left: 50px;
 width: 420px;
 height: 100px;
 background: #DCDCDC;
 border-radius: 15px;
 font-size: 2em;
 text-align: center; 
 line-height: 1.5em;
 opacity: 0.8;

}
h1 {
 color: white;
 position: absolute;
 top: 250px;
 left: 110px;
 font-size: 4.5em;
}

span {
  color: orange;
}

/* au survol */

.contenant:hover img{
  opacity: 1;
}
.contenant:hover h2 {
  display:none;
}

.contenant:hover h1 {
  top:480px;
  left: 180px;
  font-size: 2em;
}
